w.env
venv
.logs/*.log
networksecurity.egg-info
Artifacts
.pycache
*.log
pickle
numpy
pandas
sys
dill
mlruns
__pycache__
test_if_else.py
pdf
.env
pptx
*.pdf
*.pptx
*.bin
references
capstone_db
*.db
*.sqlite
*.sqlite3
*.odp
*.odt